# Core Dependencies
pyrogram==2.0.106
instagrapi==2.2.1
python-dotenv==1.0.1
TgCrypto==1.2.5
aiofiles==23.2.1
pytz==2024.1
cryptography==42.0.8

# Media Processing
moviepy==1.0.3
imageio==2.34.1
imageio-ffmpeg==0.5.1
Pillow==10.4.0
numpy==1.26.4

# Utilities
psutil==6.0.0
GPUtil==1.4.0

# MongoDB
pymongo[srv]==4.8.0
